
.auction-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #654ea3, #eaafc8);
    padding: 20px;
    border-radius: 15px;
    color: white;
    width: 98vw;
    height: 88vh;
    margin: 0;
  }
  
  .auction-card-container {
    display: flex;
    width: 90%;
    max-width: 1200px;
  }
  
  .player-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .player-image-border {
    border-radius: 50%;
    padding: 10px;
    background: linear-gradient(45deg, #ce2c2c, #d529b9);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .player-image {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .player-info {
    margin-top: 120px;
    flex: 2;
    text-align: center;
    padding-left: 1%;
  }
  .player-id {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 4rem; /* Bigger font for emphasis */
    font-weight: 800;
    font-style: italic;
    color: #FFD700; /* Gold color */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: "Poppins", sans-serif;
    /* background: rgba(0, 0, 0, 0.6); */
    padding: 5px 15px;
    border-radius: 5px;
  }
  
  
  .player-name {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .player-nickname {
    font-size: 2rem;
    font-style: italic;
  }
  
  .player-district,
  .player-type,
  .player-stats {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  